.Research {
    .coverImage{
        width:100%;
        min-width:800px;
        img {
            width:100%;
        }
    }
    .PageContentWrapper {
        position:relative;
        margin: 80px auto 0;
        padding:0 24px;
        // padding-bottom:220px;
        max-width: 1100px;
        line-height: 1.5em;
        font-size: 16px;
        color: #707070;
        font-weight:400;
        h2 {
            margin-top: 0px;
            color:#444;
            font-size: 32px;
            font-weight: 300;
        }
        a.BackToLabs {
            position: absolute;
            display: none;
            top:-18px; left:-40px;
            font-size:24px;
            color:#F40019;
            cursor:pointer;
            text-align: right;
        }
        .PageTitle {
            height: 54px;
            width: 100%;
            font-size: 32px;
            font-weight: 800;

            h2 {
                border-top: 1px solid #aaa;
                padding-top: 30px;
                margin-top: 40px;
            }
        }
    }

}
