.Research {
    h2 {
        border-top: 1px solid #aaa;
        padding-top: 30px;
        margin-top: 40px;
    }
    .PageContentWrapper {
        margin: 100px auto;
        width: 800px;
        .PageTitle {
            height: 54px;
            width: 100%;
            font-size: 32px;
            font-weight: 800;
            h2 {
                border-top:1px solid #aaa;
                padding-top:30px;
                margin-top:40px;
            }
        }
    }
}