.LabList {
    position:relative;
    margin:20px auto 10px;
    padding:0px 0 0px 0;
    max-width:1200px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    // transition: margin 1s;
    .leftArrow, .rightArrow { display:none; }
    ul {
        list-style-type: none;
        margin:10px; padding:10px;
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: flex-start;
    }
    li {
        list-style-type: none;
        
        margin:10px;
        height:200px; width:200px;
        // border:1px solid #ddd;
        vertical-align: middle;
        transition: transform 0.2s;
        .title {
            font-size:14px;
        }
        .thumbnail{
            display:flex;
            align-items: center;
            justify-content: center;
            height:100%; width:100%;
            overflow:hidden;
            img {
                max-width:80%;
                max-height:50%;
            }
        }
    }
    li:hover {
        transform:translateY(-10px);
    }
}

.LabList.small {
    position:fixed;
    bottom:0; left:0; right:0;
    width:100%; max-width:none;
    background:#222;
    margin:0;
    // padding-top:10px;
    width:100%;
    // .scrollX {
    //     display:block;
    // }
    .leftArrow, .rightArrow {
        display:block;
        position:absolute; top:30%;
        padding:25px;
        font-size:25px;
        color:white;
        border-radius: 100%;
        text-align:center; 
        z-index:5;
    }
    .leftArrow {
        left:0; 
    }
    .rightArrow {
        right:0;
    }
    ul {
        display:block;
        // position:absolute;
        left:30px; right:30px; top:0; bottom:0;
        white-space: nowrap;
        overflow-x:scroll;
        text-align: center;
        margin:0; padding:0 40px;
    }
    ul::before {
        content:"";
        width:30px; height:30px;
        background:red;
    }
    li {
        display:inline-block;
        height:150px; width:150px;
        margin:0; padding:15px;
        .thumbnail{
            display:flex;
            align-items: center;
            justify-content: center;
            height:100%; width:100%;
            overflow:hidden;
            img {
                max-width:80%;
                max-height:50%;
                filter:invert(0.865) grayscale(1);
            }
        }
    }
    li.active {
        // border:1px solid #ddd;
        // border-radius:16px;
        // box-shadow:0 0 10px 0 rgba(0,0,0,0.2);
        border-bottom:3px solid red;
    }
}