.Education {
    h2 {
        margin-top: 40px;
        font-size:32px;
         color:#000;
        font-weight:300;
    }

    h3 {
    color:#444;
    }
    .coverImage{
        height:500px;
        img {
            width:100%;
            height:inherit;
            object-fit: cover;
        }
    }
    .tabNav {
        position:sticky; top:0;
        background: #f7f7f7;
        width:100%;
        width:auto;
        margin-top: -4px;
        border-bottom: 1px solid #eaeaea;
        ul {
            display:flex;
            flex-direction:row;
            align-items: center;
            justify-content: center;
            @media only screen and (min-width:800px) { gap:60px; }
            @media only screen and (max-width:800px) { gap:20px; }
            list-style-type: none;
            margin: 0 auto;
            padding: 0;
            li {
                flex:0 0 auto;
                padding: 12px 4px;
                font-family: 'Courier New', Courier, monospace;
                font-size:14px;
                text-transform: uppercase;
                border-top:3px solid transparent;
                color:#000;
                cursor:pointer;
                a,
                button {
                    border: none;
                    background: none;
                    // font-size: 16px;
                    // font-weight: 600;
                    color:#707070;
                    text-decoration: none;
                    // text-transform: uppercase;
                }
            }
            li:hover {
                border-top:3px solid #F40019;
                a {
                    color:black;
                }
            }
            li.active {
                border-top:3px solid #F40019;
                a {
                    font-weight:600;
                    color:#3a3a3a;
                }
            }
        }
    }
    .PageContentWrapper {
        margin: 0 auto;
        max-width: 1100px;
        padding: 0 24px;
        .PageTitle {
            height: 54px;
            width: 100%;
            font-size: 32px;
            font-weight: 800;
            h2 {
                border-top:1px solid #aaa;
                padding-top:30px;
                margin-top:40px;
            }
        }
        .PageContent {
            p {
                font-size:15px;
            }
            
        }
    }
}

.EducationContent {
    line-height: 1.6em;
    font-size: 16px;
    color: #707070;
    font-weight:400;
    a {color:black;}
    .section_summary {   
        margin: 60px 0 40px 0px;
    }
    .section_content {
        border-top:1px solid #ccc;
        margin-bottom:40px;
    }
    div.year {
        margin-top:48px;
    }
    .section_content:last-of-type {
    margin-bottom:100px;
    }
    div.year_title {
        font-size:18px;
        font-weight:400;
        margin-top:20px;
        margin-bottom:8px;
        .circle_year {
            display:inline-block;
            border-radius:100%;
            font-size:30px;
            color:rgba(233,0,30);
            width:50px; height:50px;
            vertical-align: top;
            border: 1px solid rgba(233,0,30);
            font-weight:300;
            line-height:50px;
            text-align: center;
            margin-right: 12px;
        }
        .yearTitle {
            display:inline-block;
            .yearIndex {
                display:block;
                font-family: 'Courier New', Courier, monospace;
                font-size:13px;
                font-weight:600;
                color:#666;
                padding-left:1px;
                padding-top:2px;
                font-style:normal;
                text-transform: uppercase;
            }
            .yearRole{
                display:block;
                color:#333;
                font-size:24px; font-weight:600;
                line-height:20px;
            }
            
        }
    }
    div.year_description {
        margin: 12px 20px 30px 0px;
        label {
            display:block;
            font-size:1.0em;
            font-weight:600;
            margin-top:16px; margin-bottom:4px;
        }
        p {
            font-size:inherit; color:inherit; font-weight:inherit;  
        }
    }

    table.courses {
        text-align:left;
        font-size:13px;
        margin: 16px auto;
        font-weight:400;
        border-collapse: collapse; 
        table-layout:fixed;
        thead {
            th, td{
                padding:0 12px;
                font-size:11px;
                font-weight:400;    
                color:#888;
            }
            td.rightAlign {
                text-align:right;
            }
        }
        tbody {
            tr {
                border-top:1px solid #ddd;
            }
            tr:last-of-type {
                border-bottom:1px solid #ddd;
            }
            th, td{ 
                padding:12px;
                vertical-align: top;
                font-size:14px;
                font-weight:400;
                width:200px;
            }
            td.expandable {
                width:70%;
            }
            td.rightAlign {
                text-align:right;
            }
            td {
                white-space: nowrap;
                svg {
                    font-size:18px;
                    color:#aaa;
                    vertical-align: middle;
                }
                .course{
                    display:block;
                    margin:0 0 16px 0;
                    cursor:context-menu;
                    span.light {
                        display:inline;
                        margin-left:6px;
                        color:#707070;
                    }
                    span.req {
                        margin-left:12px;
                        text-transform: uppercase;
                        font-size:0.8em;
                        font-weight:800;
                        color:#F40019;
                    }
                    .description {
                        font-size:0.9em;
                        margin-top:4px;
                        // display:none;
                        color:#888;
                    }
                    
                }
                .course:last-of-type {
                    margin-bottom:0;
                }
                
                .course.description_hidden{
                    .description {
                        display:none;
                    }
                }   
            }
            
        }

    }
}