.Menu.small {
    right: -50%;
}
.Menu {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    z-index: 100;
    padding:23px 38px 0 60px;
    background-color: #fff;
    transition: right 0.3s;
    transition-timing-function: ease-out;

    .MenuCloseButton {
        display:block;
        box-sizing: border-box;
        width:100%; text-align: right;
        font-size: 20px;
        cursor: pointer;
        svg {
            height: 36px;
        }
    }

    .menuToolBar {
        display: flex;
        flex-direction: row;
        margin-top:16px;
        gap:42px;
        .searchUI {
            flex:1 1 auto;
            background: white;
            position: relative;
            input {
                width: 100%;
                padding: 14px 60px 14px 20px;
                display: block;
                box-sizing:border-box;
                font-size:16px;
                border:none;
                background-color: #efefef;

            }
            button {
                background: transparent;
                border: none;
                cursor: pointer;
                display: inline-block;
                font-size: 20px;
                position: absolute;
                top: 0;
                right: 0;
                padding: 11px 20px;
                z-index: 2;
                svg {
                    vertical-align: middle;
                }
            }

        }

        .LanguageSelector {
            flex:0 0 auto;
            font-size: 13px;
            background: black;
            padding: 14px 16px;
            text-align: center;
            cursor: pointer;
    
            span.active {
                display: inline;
                color: #fff;
            }
    
            span {
                display: inline;
                color: #555; 
            }
        }
    }

    .MenuItems {
        margin: 40px 0;
        font-size: 18px;

        .L1 {
            margin-top: 32px;
            font-weight:800;
            a {
                color: #707070;
                font-weight: 800;
                text-decoration: none;
                line-height: 1.8em;
            }

            .L2 {
                margin-left:12px;
                a {
                    display: block;
                    font-weight: 400;
                    line-height: 1.8em;
                }
            }
        }
    }


}