.ArticleEditor {
    .PageContentWrapper {
        position:relative;
        margin: 40px auto 0;
        // padding-bottom:220px;
        max-width: 1100px;
        line-height: 1.5em;
        font-size: 14px;
        color: #707070;
        font-weight:400;
        label {
            display:block;
            font-size:18px; 
            font-weight:600; 
            color:#707070;
            margin-top:20px;
        }
        .markdownUI {
            display:block;
            margin:50px;
            ul.typeSelector {
                margin:20px 0 20px 0; padding:0;
                li {
                    margin:0 20px 0 0 ; padding:0; list-style-type: none;
                    display:inline-block;
                }

            }
            input#articleTitle {
                display:block;
                width:60%;
                font-size:24px;
                margin-bottom:24px;
            }
            
        }
        .saveButtonWrapper {
            margin-top:20px;
            text-align: center;
            button {
                padding:4px 12px;
                margin:4px;
            }
        }
        .imageUploadUI {
            border-top:1px solid #eaeaea;
            display:block;
            margin:50px 0 50px 0; padding:50px;
            input {
                margin-top:12px;
            }
        }
        
    }

}
