.Article {
    .PageContentWrapper {
        display: flex;
        flex-direction: row;
        gap: 40px;
        position: relative;
        margin: 40px auto 0;
        // padding-bottom:220px;
        max-width: 1100px;
        line-height: 1.5em;
        font-size: 14px;
        color: #707070;
        font-weight: 400;

        .filterUI {
            flex: 0 0 140px;
            width: 140px;

            ul {
                margin: 86px 0;
                padding: 0;

                a {
                    text-decoration: none;

                    li {
                        margin: 0 0 2px 0;
                        background: #efefef;
                        list-style-type: none;
                        padding: 10px 16px;
                        font-family: 'Courier New', Courier, monospace;
                        color: black;
                        font-size: 14px;
                        text-transform: uppercase;
                    }
                }

                a.active {
                    vertical-align: middle;

                    li {
                        background: white;
                        padding: 10px 0;
                    }

                    li::before {
                        display: inline-block;
                        content: "";
                        width: 21px;
                        height: 3px;
                        margin-right: 6px;
                        background: red;
                        vertical-align: middle;
                    }
                }

            }
        }

        .articleContainer {
            flex: 1 0 auto;
            max-width: 920px;
            
            .datetime {
                display:block;
                font-size:14px; 
                font-family: 'Courier New', Courier, monospace;
            }
            .title {
                margin:4px 0;
                font-size:32px;
                font-weight:600; 
                line-height: 1.4em;
                color:black;
            }
            .content {
                font-size:16px;
                line-height:1.5em;
                margin-bottom:80px;
                img {
                    max-width:100%;
                }
            }


        }


    }
}