.Wrapper {
    background: #fff;
    // position:sticky;
    top:0; z-index:9999;
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
}

.PageHeader {
    margin:auto;
    max-width: 1900px;
    height: 80px;
    background: #fff;
    color: #222;
    display: flex;
    position:relative;
    flex-direction: row;
    justify-content: space-between;
    z-index:10;
    // border-bottom:1px dotted #eee;

    // .KAIST_Logo {
    //     position: absolute;
    //     left:0;
    //     top: 50%;
    //     -ms-transform: translateY(-50%);
    //     transform: translateY(-50%);
    // }

    img {
        display: inline-block;
        height: 32px;
        margin-top: 8px;
        // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        // filter: grayscale(100%);
    }
    .HeaderLeft {
        flex: 0 0 auto;
        font-size: 24px;
        padding: 14px 0 0 60px;
        svg {
            height:48px;
        }
    }
    .HeaderCenter:hover {
        .sectionLink {
            color:#9a9a9a;
            border-top:4px solid transparent;
        }
        .sectionLink:hover {
            color:#000;
            border-top:4px solid #F40019;
        }
    }
    .HeaderCenter {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        padding-left: 80px;
        justify-content: center;
        align-items: center;
        gap:30px;
        // font-family: 'Work Sans', sans-serif;
        .sectionLink:hover {
            border-top:4px solid #F40019;
        }
        .sectionLink {
            display:block;
            height:100%;
            box-sizing: border-box;
            border-top:4px solid transparent;
            div {
                display: inline-block;
                
                padding-left:8px;  padding-right:8px;
                height:100%;
                color:inherit;
                text-decoration: none;
                line-height:78px;  // For Vertical-Middle layout
                @media (min-width: 750px) {
                    font-size: 16px;
                }
                @media (max-width: 750px) {
                    font-size: 12px;
                }
                font-weight: 400;
                font-size:18px;
                color: #000;    
            }
        }
        .sectionLink.active {
            div {
                font-weight:700;
            }
            
            a {
                color:inherit;
            }
        }
        form {
            color: inherit;
            background: #eaeaea;
            display: flex;
            padding: 4px 12px;
            width: 190px;
            height: 24px;
            border: 1px solid inherit;
            border-radius: 24px;
            // box-shadow:0 0 4px 0 rgba(255,255,255,0.2);
            input[type="search"] {
                border: none;
                background: transparent;
                margin: 0;
                padding: 7px 8px;
                font-size: 14px;
                color: inherit;
                border: 1px solid transparent;
                border-radius: inherit;
            }
            input[type="search"]::placeholder {
                color: inherit;
            }
            button[type="submit"] {
                background: none;
                border: none;
                font-size: 20px;
                color: inherit;
                opacity: 0.7;
            }
            input:focus {
                outline: none;
            }
            

            button[type="submit"]:hover {
                opacity: 1;
            }
        }
        .filterButton {
            margin-left: 16px;
            font-size: 24px;
            color: inherit;
        }
    }
    .HeaderRight {
        flex: 0 0 auto;
        line-height:93px;
        // flex: 0 0 auto;
        font-size: 24px;
        padding: 0 60px 0 8px;
        .KAIST_Logo {
            margin-right:20px;
            height:24px;
            // filter: saturate(0%) contrast(0%);
            // opacity:0.8;
        }
        // .LanguageSelector {
        //     display: inline-block;
        //     vertical-align: top;
        //     font-size: 16px;
        //     font-weight: 600;
        //     margin: 25px 0 15px 15px;
        //     span.active {
        //         color: #555;
        //     }
        //     span {
        //         display: inline-block;
        //         cursor: pointer;
        //         color: #dadada;
        //         margin-right: 4px;
        //         width: 20px;
        //         text-align: center;
        //     }
        // }
    }
}
