.Lab {
    padding: 0 0 240px;
    margin: 0px auto;
    max-width: inherit;
    
    // display: flex; flex-direction: row;  gap:38px;
    .LabInfo {
        // border:1px solid #eee;
        // border-radius:8px;    
        // flex:1 1 55%;
        // .topBar {
        //     display:block; 
        //     width:20%;  height:2px; background: #F40019;
        //     margin-bottom:21px;
        // }
        display:flex; flex-direction: row;
        .leftPanel {
            flex:1 0;
        }
        .rightPanel {
            flex:0 0 350px;
            width:350px;
            padding:0px 0px 16px 32px;
            border-left: 2px solid #F40019;
            font-size:16px;
        }
        .LabTitle {
            font-weight: 700;
            font-size: 30px;
            margin-right: 40px;
            line-height:1.2em;
            color:#333;
        }
        .LabTitleShort {
            margin-top:12px;
            font-size:21px; font-weight:600;
            color:#707070;
        }
        .LabPI {
            margin-top:4px;
            font-size:21px; font-weight:500;
            color: #000;
            
        }
        .email {
            font-size:0.8em;
            margin-bottom:32px;
        }

        .description {
            margin-top:20px;
            margin-right:40px;
            line-height: 1.5em;
            font-size: 14px;
            color: #707070;
            font-weight:400;
        }

        h4 {
            font-family: 'Work Sans' sans-serif;
            text-transform: uppercase;
            font-size:12px;
            margin-top:4px; margin-bottom:4px;
        }
        .LabKeywords {
            ul {
                margin:0; padding:0;
                margin-bottom:32px;
            }
            li {
                list-style-type: none; margin:0;
                display:inline-block; 
                margin-right:8px; margin-bottom:8px;
                padding:2px 8px;
                border:1.5px solid #bbb;
                border-radius:6px;
                color:#000;
                font-weight:500;
            }
        }

        .LabLink {
            a { 
                color:#F40019; 
                text-decoration: none;
                font-size:16px;
            } 
            a:hover {
           text-decoration:underline;
           text-underline-offset: 0.25em;
            }
            // a:visited { color:#F40019; } 
        }

        
        .profAndProjects {
            margin-top: 20px;
            display: flex;
            flex-direction: row;

            .profInfo {
                position: relative;
                flex: 0 1 250px;
                width: 250px;

                img {
                    width: 100%;
                    vertical-align: top;
                    ;
                }

                .profDescription {
                    margin-top: 10px;
                    text-align: left;
                    color: #333;
                }
            }

            
        }
    }

    .projects {
        margin-top: 48px;
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        gap:30px;
        .projectImage {
            flex:0 0 30%;
            width:30%;
            aspect-ratio: 4/3;
            object-fit: cover;
        }
        // .hidden-flex-item {
        //     content: "";
        //     flex: 2 0 30%;
        //     visibility: hidden;
        // }
        // ul {
        //     display: block;
        //     margin: 0;
        //     padding: 0;
        //     width: 100%;

        //     li {
        //         display: inline-block;
        //         box-sizing: border-box;
        //         height: 200px;
        //         width: 200px;
        //         margin-right: 10px;
        //         margin-bottom: 10px;
        //         background: #eee;
        //         list-style-type: none;
        //         padding: 10px;
        //     }
        // }
    }

    .imagePopup {
        position:fixed;
        top:0; bottom:0; right:0; left:0;
        z-index:10000;
        background: rgba(0,0,0,0.7);
        display:flex;
        justify-content: center;
        align-items: center;
        .changeImageButton {
            font-size:32px; color:white;
            cursor:pointer;
            transition: transform 0.5s;
        }
        .closeButton {
            position:absolute;
            top:3%; left:50%;
            font-size:40px;
            color:rgba(255,255,255,0.8);
            cursor:pointer;
        }
        .leftArrow {
            position:absolute;
            left:7%; top:50%;
        }
        .leftArrow:hover {
            transform:translateX(-10px);
        }
        .rightArrow {
            position:absolute;
            right:7%; top:50%;
        }
        .rightArrow:hover {
            transform:translateX(10px);
        }
        .largeImageContainer {
            flex:0 0 auto;
            height:80%; width:80%;
            text-align: center;
            img {
                width:100%; height:100%;
                object-fit:contain;
            }
            iframe {
                width:100%; height:100%;
            }
        }
    }
}