.Home {
    .section1 {
        width: 100%;
        display: flex;

        @media only screen and (min-width:1000px) {
            flex-direction: row;
        }

        @media only screen and (max-width:999px) {
            flex-direction: column;
        }

        position: relative;
        background-color: black;

        .leftHalf {
            height: 100%;
            box-sizing: border-box;

            @media only screen and (min-width:1000px) {
                flex: 1 1 50%;
                position: sticky;
                top: 80px;
            }

            @media only screen and (max-width:999px) {
                position: relative;
            }


            // display:flex;
            // flex-direction: row;
            // justify-content: right;
            text-align: right;

            .contentArea {
                display: inline-block;
                position: relative;
                text-align: left;
                width: 100%;
                max-width: 950px;
                // flex:1 0 100%;
                height: calc(100vh - 80px);
                color: white;
                box-sizing: border-box;
                padding: 60px;

                .dept_title_thick {
                    // font-family: "Work Sans" sans-serif;
                    font-weight: 700;
                    font-size: 5.8vw;
                    letter-spacing: 0.2rem;
                    color: inherit;
                    line-height: 0.93em;
                    margin-bottom: 8px;
                }

                .dept_title_thin {
                    // font-family: "Work Sans" sans-serif;
                    font-weight: 500;
                    letter-spacing: -0.1rem;
                    font-size: 5.8vw;
                    color: inherit;
                    margin-bottom: 20px;
                }


                .dept_title_korean {
                    // font-family: "Work Sans" sans-serif;
                    font-weight: 300;
                    font-size: calc(12px + 0.8vw);
                    margin-left: 0.5vw;
                    color: #dfdfdf;
                    word-break: keep-all;
                    opacity: 1;
                }

                .shortcuts_wrapper {
                    position: absolute;
                    bottom: 60px;
                    left: 60px;
                    right: 60px;

                    @media only screen and (min-width:1000px) {
                        display: flex;
                        flex-direction: row;
                        gap: 40px;
                        align-items: stretch;
                    }

                    @media only screen and (max-width:999px) {

                        // align-items: stretch;
                    }

                    div.upcoming {
                        @media only screen and (min-width:1000px) {
                            height: inherit;
                            flex: 1 1 50%;
                            padding-left: 20px;
                        }

                        @media only screen and (max-width:999px) {
                            width: 100%;
                            padding-left: 0;
                        }

                        display: flex;
                        flex-direction: column;

                        justify-content: space-between;

                        label {
                            flex: 0 0 auto;
                            margin-top: 24px;
                            color: #dfdfdf;
                            text-decoration-color: #aaa;
                            font-family: 'Courier New', Courier, monospace;
                            font-size: 18px;
                        }

                        .event_title {
                            flex: 0 0 auto;
                            margin-top: 0px;
                            font-size: 21px;
                            font-weight: 600;
                            color: #ccc;
                        }

                        a.learn_more {
                            flex: 0 0 auto;
                            font-family: 'Courier New', Courier, monospace;
                            margin: 22px 0;
                            font-size: 16px;
                            color: #FF0000;
                        }

                        a.learn_more:hover {
                            text-decoration: underline;
                            text-underline-offset: 0.25em;
                        }
                    }

                    ul.shortcuts {
                        @media only screen and (min-width:1000px) {
                            flex: 1 1 50%;
                            height: inherit;
                        }

                        @media only screen and (max-width:999px) {
                            display: block;
                        }

                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        overflow-x: hidden;
                        display: flex;
                        flex-direction: column;

                        li {
                            flex: 1 0 auto;
                            border-top: 0.1rem solid #6f0500;
                            padding-top: 16px;
                            padding-bottom: 16px;
                            position: relative;

                            a {
                                color: #dfdfdf;
                                text-decoration: none;
                                font-family: 'Courier New', Courier, monospace;
                                font-size: 18px;
                                line-height: 2em;
                                word-break: keep-all;
                                overflow-x: hidden;
                                white-space: nowrap;
                            }

                            a:after {
                                content: ">";
                                position: absolute;
                                right: 0px;
                                color: #F40019;
                                font-weight: 600;
                                vertical-align: middle;
                            }
                        }

                        li:first-child {
                            border-top: 1px solid black;
                        }
                    }
                }
            }

        }

        .rightHalf {
            background: #fff;
            flex: 1 1 50%;
            text-align: left;

            .contentArea {
                text-align: left;
                width: 100%;
                // max-width: 950px;
                height: 100%;

                .featured_items {
                    // flex: 1 1 50%;
                    width: 100%;
                    height: auto;

                    .main_feature {
                        width: 100%;
                        min-height: 500px;
                        height: 50%;

                        .item_image {
                            width: 100%;
                            // aspect-ratio: 9/7;
                            // background-color: #eee;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .item_details {
                            padding: 40px;
                            max-width: 950px;
                            box-sizing: border-box;

                            .item_kind {
                                // color:#aaa;
                                font-family: 'Courier New', Courier, monospace;
                                font-size: 14px;
                            }

                            .item_title {
                                margin-top: 4px;
                                text-align: left;
                                font-size: 21px;
                                color: #000;
                                font-weight: 700;
                            }

                            .item_desc {
                                margin-top: 10px;
                                line-height: 1.5em;
                                font-size: 14px;
                                color: #707070;
                                max-height: 120px;
                                // Below: Modern way of clamping text
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 5;
                                line-clamp: 5;
                                -webkit-box-orient: vertical;
                            }
                            .item_datetime {
                                margin-top:8px;
                                font-family: 'Courier New', Courier, monospace;
                                font-size: 12px;
                            }
                            a {
                                text-decoration: none;
                                color:inherit;
                            }
                            a.read_more {
                                display: inline-block;
                                margin-top: 10px;
                                color: #F40019;
                                font-family: 'Courier New', Courier, monospace;
                                text-decoration: none;
                            }

                            a.read_more:hover {
                                text-decoration: underline;
                                text-underline-offset: 0.25rem;
                            }
                        }
                    }

                    .semi_featured {
                        width: 100%;
                        border-top: 1px solid #d0d0d0;

                        a {
                            text-decoration: none;
                            color: inherit;
                        }

                        .semi_featured_content {
                            max-width: 950px;
                            display: flex;
                            flex-direction: row;
                            height: 200px;
                            box-sizing: border-box;
                            padding: 20px 40px;
                            gap: 20px;

                            .item_details {
                                flex: 1 0;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;

                                .item_kind {
                                    font-family: 'Courier New', Courier, monospace;
                                    font-size: 14px;
                                }

                                .item_title {
                                    font-size: 21px;
                                    font-weight: 700;
                                    color: #000;
                                    margin-top: 4px;

                                }

                                .item_title:hover {
                                    color: #333;
                                }

                                .item_datetime {
                                    margin-top:6px;
                                    font-family: 'Courier New', Courier, monospace;
                                    font-size: 12px;
                                }
                            }

                            .item_image {
                                flex: 0 0 160px;
                                height: 100%;
                                width: 160px;
                                background-color: #ddd;
                                margin-left: 10px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }


        }
    }

    .section2 {
        width: 100%;

        @media only screen and (min-width:1000px) {
            display: flex;
            flex-direction: row;
        }

        @media only screen and (max-width:1000px) {
            display: block;
        }

        position: relative;
        background-color: black;

        .leftHalf {
            @media only screen and (min-width:1000px) {
                flex: 1 1 50%;
                position: sticky;
                top: 80px;
            }

            @media only screen and (max-width:1000px) {
                width: 100%;
                display: block;
            }

            text-align: right;
            background: black;

            .contentArea {
                display: inline-block;
                position: relative;
                text-align: right;
                width: 100%;
                max-width: 950px;
                // flex:1 0 100%;
                height: calc(100vh);
                color: white;
                box-sizing: border-box;
                // padding: 60px;


                // display: inline-block;
                // width: 100%;
                // max-width: 950px;

                img {
                    // width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

        }

        .rightHalf {

            // background: #fff;
            @media only screen and (min-width:1000px) {
                flex: 1 1 50%;
            }

            @media only screen and (max-width:1000px) {
                width: 100%;
                display: block;
            }

            display:flex;
            flex-direction: column;
            justify-content: center;

            .contentArea {
                display: inline-block;
                width: 100%;
                max-width: 950px;

                .events {
                    background: black;
                    color: white;
                    //height: 100%;
                    box-sizing: border-box;
                    padding: 40px;

                    label {
                        display: block;
                        font-family: 'Courier New', Courier, monospace;
                        font-size: 14px;
                        margin-bottom: 12px;
                    }

                    .event_item {
                        border-top: 1px solid #6f0500;
                        padding: 21px 0;

                        .date {
                            font-family: 'Courier New', Courier, monospace;
                            font-size: 14px;
                        }

                        .title {
                            margin-top: 4px;
                            margin-bottom: 4px;
                            font-size: 18px;
                            font-weight: 700;
                        }

                        .title:hover {
                            color: #bfbfbf;
                        }

                        .description {
                            font-size: 14px;
                        }
                    }
                }
            }

        }

    }

    .section3 {
        width: 100%;
        position: relative;
        background: white;

        .Highlights {
            margin: auto;
            width: 100%;
            max-width: 1900px;
            background-color: #fff;
        }

        .Grid {
            .sectionTitle {
                font-size: 32px;
                color: #000;
                margin: 40px;
                font-weight: 600;
            }

            ul {
                margin: 60px;
                padding: 0;
                list-style-type: none;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: flex-start;
                gap: 60px;
            }

            // @media (max-width: 1080px) {
            //     li {
            //         flex:1 0 200px;
            //         height:280px; width:200px;
            //     }
            // }
            // @media (min-width: 1080px) {
            //     li {
            //         flex:1 0 500px !important;
            //         height:420px; width:500px;
            //     }
            // }
            li {
                position: relative;
                padding: 0;
                list-style-type: none;
                overflow: hidden;
                flex: 1 0 520px !important;
                width: 520px;

                .thumbnailImage {
                    position: relative;
                    aspect-ratio: 9/5;
                    width: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                .info {
                    position: relative;
                    top: 0px;
                    left: 0px;
                    z-index: 50;
                    transition: opacity 0.5s;
                    margin: 14px 0;

                    .kind {
                        // color:#aaa;
                        font-family: 'Courier New', Courier, monospace;
                        font-size: 14px;
                    }

                    .title {
                        font-size: 24px;
                        color: #000;
                        font-weight: 700;
                    }

                    .title:hover {
                        color: #444;
                    }

                    .description {
                        margin-top: 8px;
                        // padding:8
                        font-size: 14px;
                        line-height: 1.5em;
                        // Below: Modern way of clamping text
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        line-clamp: 4;
                        -webkit-box-orient: vertical;
                    }

                    a.read_more {
                        display: inline-block;
                        margin-top: 8px;
                        color: red;
                        font-family: 'Courier New', Courier, monospace;
                        text-decoration: none;
                    }

                    a.read_more:hover {
                        text-decoration: underline;
                        text-underline-offset: 0.25rem;
                    }
                }
            }

            li:last-of-type {
                margin-bottom: 50px;
            }
        }
    }







}