$pink_flare: #D5A7B4;
$tory_blue: #105099;
$limed_oak: #9E9E4D;
$tan_hide: #F8955B;
$tall_poppy: #C54126;
$saffron: #F4BF3C;

html { height:100%; }
body { height:100%; }
#root { height:100%; }
.App { height: 100%; }

body {
  margin: 0;
  font-family: "Work sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#444;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
